{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock css_files %}

{% block content %}

  {% if comment_form.errors %}
  <div id="alert">
    <h2>Comment posting has failed!</h2>
    <p>Please address the errors detailed below.</p>
    <a href="#comment-form">Fix!</a>
  </div>
  {% endif %}

  <section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
      {% for tag in tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>

    <div id="read-later">
      <form action="{% url 'read-later' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ post.id }}" name="post_id">
        {% if saved_for_later %}
          <button>Remove from read later</button>
        {% else %}
          <button>Read Later</button>
        {% endif %}
      </form>
    </div>

    <article>
      <img src="{{ post.image.url }}" alt={{ post.title }}>
      <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>

      <div>
        Last Updated on <time> {{ post.date|date:'F j Y' }} </time>
      </div>
    </article>
  </section>

  <main>
    {{ post.content|linebreaks }}
  </main>

  {% if comments.length %}
  <section id="comments">
    <ul>
      {% for comment in comments %}
      <li>
        <h2>{{ comment.user_name }}</h2>
        <p>{{ comment.text|linebreaks }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  <section id="comment-form">
    <h2>Your Comment</h2>
    <form action="{% url "post-detail-page" post.slug %}" method="POST">
      {% csrf_token %}
      {% for form_field in comment_form %}
      <div class="form-control {% if form_field.errors %}invalid{% endif %}">
        {{ form_field.label_tag }}
        {{ form_field }}
        {{ form_field.errors }}
      </div>
      {% endfor %%}
      <button>Save Comment</button>
    </form>
  </section>
{% endblock content %}
